docker.runOptions = '-u $(id -u):$(id -g)'

params {
  seqCenter = 'czbiohub'
  
  // GENCODE (human + mouse) reference file paths on CZ Biohub reference s3 bucket
  // No final slash because it is added later
  gencode_base = "s3://czbiohub-reference/gencode"

  fc_extra_attributes = 'gene_name'
  fc_group_features = 'gene_id'
  fc_group_features_type = 'gene_type'

  trim_pattern = '_+S\\d+'
  gencode = true

  // GENCODE GTF and fasta files
  genomes {
    'GRCh38' {
      fasta             = "${params.gencode_base}/human/v30/GRCh38.p12.genome.ERCC92.fa"
      gtf               = "${params.gencode_base}/human/v30/gencode.v30.annotation.ERCC92.gtf"
      transcript_fasta  = "${params.gencode_base}/human/v30/gencode.v30.transcripts.ERCC92.fa"
      star              = "${params.gencode_base}/human/v30/STARIndex/"
      salmon_index      = "${params.gencode_base}/human/v30/salmon_index/"
    }
    'GRCm38' {
      fasta             = "${params.gencode_base}/mouse/vM21/GRCm38.p6.genome.ERCC92.fa"
      gtf               = "${params.gencode_base}/mouse/vM21/gencode.vM21.annotation.ERCC92.gtf"
      transcript_fasta  = "${params.gencode_base}/mouse/vM21/gencode.vM21.transcripts.ERCC92.fa"
      star             = "${params.gencode_base}/mouse/vM21/STARIndex/"
    }
  }
}
