executor {
	 cpus = 32
	 time = 99999999.h
}
process {
  withName: 'translate' {
    memory = 16.GB
    cpus = 4
    time = 99999999999.h
  }
  withName: 'sourmash_compute_sketch_fastx_peptide' {
    memory = 16.GB
    cpus = 4
    time = 99999999999.h
  }
  withName: 'sourmash_compute_sketch_fastx_nucleotide' {
    memory = 16.GB
    cpus = 4
    time = 99999999999.h
  }
  withName: 'multiqc' {
    errorStrategy = 'ignore'
  }
}
