process {

  cpus = { check_max( 1 * task.attempt, 'cpus') }
    memory = { check_max( 8.GB * task.attempt, 'memory') }


  maxRetries = 3
    maxErrors = '-1'

  // Resource requirements
    withName:fastp {
        cpus = {4* task.attempt}
	    memory = {8.GB * task.attempt}
	        time = { check_max( 5.h * task.attempt, 'time' ) }
		  }
		    withName: sourmash_compare_sketches {
		        memory = { check_max( 512.GB * task.attempt, 'memory') }
			    cpus = 1
			      }
			        withName: sourmash_compute_sketch {
				    memory = {4.GB * task.attempt}
				        cpus = 1
					  }

}